# Indicadores Económicos - Trimestrales

In [28]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [29]:
fecha = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02541AQ/html',header=0)[1].iloc[:,0]

In [30]:
consumo_privado = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02541AQ/html',header=0)[1].iloc[:, 1:]
consumo_privado_real = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02529AQ/html',header=0)[1].iloc[:, 1:]

In [31]:
inverrsion = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02544AQ/html', header=0)[1].iloc[:, 1:]
inversion_real = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02532AQ/html', header=0)[1].iloc[:, 1:]

In [32]:
gasto_publico = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02542AQ/html',header=0)[1].iloc[:, 1:]
gasto_publico_real = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02530AQ/html',header=0)[1].iloc[:, 1:]

In [33]:
# Sector externo
## Exportaciones 
exportaciones_nominales = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02548AQ/html', header=0)[1].iloc[:, 1:]
exportaciones_reales = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02536AQ/html',header=0)[1].iloc[:, 1:]

## Importaciones 
importaciones_nominales = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02549AQ/html', header=0)[1].iloc[:, 1:]
importaciones_reales = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02537AQ/html', header=0)[1].iloc[:, 1:]

In [34]:
# Juntamos toda la tabla

tabla_trimestral_indicadores = pd.concat([fecha,
                                        consumo_privado,
                                         consumo_privado_real,
                                         inverrsion,
                                         inversion_real,
                                         gasto_publico,
                                         gasto_publico_real,
                                         exportaciones_nominales,
                                         exportaciones_reales,
                                         importaciones_nominales,
                                         importaciones_reales], axis=1)

In [35]:
tabla_trimestral_indicadores.dropna(inplace=True)

In [36]:
for i in tabla_trimestral_indicadores.iloc[:,1:].columns:
    tabla_trimestral_indicadores[i] = tabla_trimestral_indicadores[i].astype('float')

In [37]:
import pandas as pd

def convertir_trimestre_a_fecha(columna):
    def convertir(codigo):
        try:
            trimestre = int(codigo[1])
            anio_base = int(codigo[2:])
            
            if anio_base >= 80:
                anio = 1900 + anio_base
            else:
                anio = 2000 + anio_base

            mes = (trimestre - 1) * 3 + 1
            return pd.Timestamp(anio, mes, 1)
        except:
            return pd.NaT
    
    return columna.apply(convertir)

from datetime import datetime

from datetime import datetime

def convertir_mes_fecha(texto):
    meses = {
        "Ene": "01", "Feb": "02", "Mar": "03", "Abr": "04",
        "May": "05", "Jun": "06", "Jul": "07", "Ago": "08",
        "Set": "09", "Sep": "09", "Oct": "10", "Nov": "11", "Dic": "12"
    }

    if not isinstance(texto, str):
        return None  # o puedes usar np.nan

    mes_abbr = texto[:3].capitalize()
    anio_abbr = texto[3:]

    if mes_abbr not in meses:
        raise ValueError(f"Mes inválido: {mes_abbr}")

    anio_completo = int(anio_abbr)
    anio_completo = anio_completo + 2000 if anio_completo <= 25 else anio_completo + 1900

    fecha_str = f"{anio_completo}-{meses[mes_abbr]}-01"
    return pd.to_datetime(fecha_str)

In [38]:
tabla_trimestral_indicadores['Fecha'] = convertir_trimestre_a_fecha(tabla_trimestral_indicadores['Fecha'])

In [39]:
tabla_trimestral_indicadores

,Fecha,Producto bruto interno por tipo de gasto (millones S/) - Demanda Interna - Consumo Privado,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Consumo Privado,Producto bruto interno por tipo de gasto (millones S/) - Demanda Interna - Inversión Bruta Interna - Inversión Bruta Fija,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Inversión Bruta Interna - Inversión Bruta Fija,Producto bruto interno por tipo de gasto (millones S/) - Demanda Interna - Consumo Público,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Consumo Público,Producto bruto interno por tipo de gasto (millones S/) - Exportaciones,Producto bruto interno por tipo de gasto (millones S/ 2007) - Exportaciones,Producto bruto interno por tipo de gasto (millones S/) - Importaciones,Producto bruto interno por tipo de gasto (millones S/ 2007) - Importaciones
0,1980-01-01,549.0,23549.0,220.0,4943.0,142.0,5084.0,325.0,7368.0,210.0,3647.0
1,1980-04-01,602.0,22797.0,285.0,5599.0,155.0,4612.0,301.0,7878.0,280.0,4136.0
2,1980-07-01,767.0,25670.0,309.0,6444.0,186.0,4863.0,337.0,8322.0,296.0,4738.0
3,1980-10-01,916.0,24810.0,455.0,6622.0,200.0,4584.0,399.0,8894.0,390.0,4756.0
4,1981-01-01,1101.0,24239.0,452.0,6689.0,256.0,6646.0,384.0,7886.0,421.0,5367.0
...,...,...,...,...,...,...,...,...,...,...,...
176,2024-01-01,162213.0,90625.0,51976.0,29063.0,33258.0,18948.0,68515.0,33859.0,58054.0,34774.0
177,2024-04-01,177005.0,97029.0,57447.0,32943.0,34507.0,18929.0,72459.0,35364.0,59619.0,36264.0
178,2024-07-01,172676.0,93214.0,63552.0,35022.0,36170.0,19769.0,84744.0,35912.0,65632.0,39169.0
179,2024-10-01,171517.0,92166.0,71619.0,39859.0,42903.0,23785.0,86764.0,39130.0,69067.0,40127.0
180,2025-01-01,170927.0,91701.0,56713.0,30947.0,35963.0,19550.0,83269.0,35652.0,65976.0,37291.0

In [40]:
# tabla_trimestral_indicadores.to_csv('tabla_trimestral_indicadores.csv', index=False)

In [41]:
inflacion_mensual = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN38705PM/html', header=0)[1]
inflacion_mensual

,Fecha,Índice de precios Lima Metropolitana (índice Dic.2021 = 100) - Índice de Precios al Consumidor (IPC)
0,Ene91,7.39
1,Feb91,8.09
2,Mar91,8.71
3,Abr91,9.22
4,May91,9.93
...,...,...
408,Ene25,114.07
409,Feb25,114.28
410,Mar25,115.21
411,Abr25,115.57
412,May25,115.51

In [42]:
inflancion_sin_alimentos = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN38707PM/html', header=0)[1]
inflancion_sin_alimentos

,Fecha,Índice de precios Lima Metropolitana (índice Dic.2021 = 100) - IPC Sin Alimentos y Energía
0,Ene92,15.12
1,Feb92,16.02
2,Mar92,16.88
3,Abr92,17.42
4,May92,17.94
...,...,...
396,Ene25,111.31
397,Feb25,111.52
398,Mar25,112.23
399,Abr25,112.39
400,May25,112.44

In [43]:
inflacion_alimentos_energia = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN39521PM/html', header=0)[1]
inflacion_alimentos_energia

,Fecha,Índice de precios Lima Metropolitana (índice Dic.2021 = 100) - IPC Alimentos y Energía
0,Dic90,7.08
1,Ene91,8.03
2,Feb91,8.31
3,Mar91,8.64
4,Abr91,9.03
...,...,...
409,Ene25,117.48
410,Feb25,117.69
411,Mar25,118.89
412,Abr25,119.51
413,May25,119.29

In [44]:
inflacion_12_meses = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN01272PM/html', header=0)[1]
inflacion_12_meses

     Fecha  Índice de precios Lima Metropolitana (var% acumulada) - IPC
0    Ene50                                               1.42
1    Feb50                                               0.18
2    Mar50                                               0.31
3    Abr50                                               0.00
4    May50                                               1.36
..     ...                                                ...
900  Ene25                                              -0.09
901  Feb25                                               0.09
902  Mar25                                               0.91
903  Abr25                                               1.23
904  May25                                               1.17

[905 rows x 2 columns]

In [45]:

inflacion_alimentos_energia['Fecha'] = inflacion_alimentos_energia['Fecha'].apply(convertir_mes_fecha)
inflacion_mensual['Fecha'] = inflacion_mensual['Fecha'].apply(convertir_mes_fecha)
inflancion_sin_alimentos['Fecha'] = inflancion_sin_alimentos['Fecha'].apply(convertir_mes_fecha)
inflacion_12_meses['Fecha'] = inflacion_12_meses['Fecha'].apply(convertir_mes_fecha)

In [46]:
merge1 = pd.merge(inflacion_alimentos_energia, inflacion_mensual, on='Fecha',how = 'inner')
merge2 = pd.merge(merge1, inflancion_sin_alimentos, on='Fecha', how='inner')
tabla_inflacion = pd.merge(merge2, inflacion_12_meses, on='Fecha', how='inner')

In [47]:
tabla_inflacion

,Fecha,Índice de precios Lima Metropolitana (índice Dic.2021 = 100) - IPC Alimentos y Energía,Índice de precios Lima Metropolitana (índice Dic.2021 = 100) - Índice de Precios al Consumidor (IPC),Índice de precios Lima Metropolitana (índice Dic.2021 = 100) - IPC Sin Alimentos y Energía,Índice de precios Lima Metropolitana (var% acumulada) - IPC
0,1992-01-01,15.11,15.54,15.12,3.54
1,1992-02-01,15.69,16.28,16.02,8.45
2,1992-03-01,17.12,17.49,16.88,16.52
3,1992-04-01,17.66,18.04,17.42,20.22
4,1992-05-01,18.32,18.66,17.94,24.35
...,...,...,...,...,...
396,2025-01-01,117.48,114.07,111.31,-0.09
397,2025-02-01,117.69,114.28,111.52,0.09
398,2025-03-01,118.89,115.21,112.23,0.91
399,2025-04-01,119.51,115.57,112.39,1.23
400,2025-05-01,119.29,115.51,112.44,1.17

# INDICADORES FINANCIEROS