# Indicadores Económicos - Trimestrales

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
fecha = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02541AQ/html',header=0)[1].iloc[:,0]

In [3]:
consumo_privado = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02541AQ/html',header=0)[1].iloc[:, 1:]
consumo_privado_real = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02529AQ/html',header=0)[1].iloc[:, 1:]

In [4]:
inverrsion = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02544AQ/html', header=0)[1].iloc[:, 1:]
inversion_real = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02532AQ/html', header=0)[1].iloc[:, 1:]

In [5]:
gasto_publico = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02542AQ/html',header=0)[1].iloc[:, 1:]
gasto_publico_real = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02530AQ/html',header=0)[1].iloc[:, 1:]

In [6]:
# Sector externo
## Exportaciones 
exportaciones_nominales = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02548AQ/html', header=0)[1].iloc[:, 1:]
exportaciones_reales = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02536AQ/html',header=0)[1].iloc[:, 1:]

## Importaciones 
importaciones_nominales = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02549AQ/html', header=0)[1].iloc[:, 1:]
importaciones_reales = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/trimestrales/resultados/PN02537AQ/html', header=0)[1].iloc[:, 1:]

In [7]:
# Juntamos toda la tabla

tabla_trimestral_indicadores = pd.concat([fecha,
                                        consumo_privado,
                                         consumo_privado_real,
                                         inverrsion,
                                         inversion_real,
                                         gasto_publico,
                                         gasto_publico_real,
                                         exportaciones_nominales,
                                         exportaciones_reales,
                                         importaciones_nominales,
                                         importaciones_reales], axis=1)

In [8]:
tabla_trimestral_indicadores.dropna(inplace=True)

In [9]:
for i in tabla_trimestral_indicadores.iloc[:,1:].columns:
    tabla_trimestral_indicadores[i] = tabla_trimestral_indicadores[i].astype('float')

In [ ]:
import pandas as pd

def convertir_trimestre_a_fecha(columna):
    def convertir(codigo):
        try:
            trimestre = int(codigo[1])
            anio_base = int(codigo[2:])
            
            if anio_base >= 80:
                anio = 1900 + anio_base
            else:
                anio = 2000 + anio_base

            mes = (trimestre - 1) * 3 + 1
            return pd.Timestamp(anio, mes, 1)
        except:
            return pd.NaT
    
    return columna.apply(convertir)

from datetime import datetime

from datetime import datetime

def convertir_mes_fecha(texto):
    meses = {
        "Ene": "01", "Feb": "02", "Mar": "03", "Abr": "04",
        "May": "05", "Jun": "06", "Jul": "07", "Ago": "08",
        "Set": "09", "Sep": "09", "Oct": "10", "Nov": "11", "Dic": "12"
    }

    if not isinstance(texto, str):
        return None  # o puedes usar np.nan

    mes_abbr = texto[:3].capitalize()
    anio_abbr = texto[3:]

    if mes_abbr not in meses:
        raise ValueError(f"Mes inválido: {mes_abbr}")

    anio_completo = int(anio_abbr)
    anio_completo = anio_completo + 2000 if anio_completo <= 25 else anio_completo + 1900

    fecha_str = f"{anio_completo}-{meses[mes_abbr]}-01"
    return pd.to_datetime(fecha_str)



def convertir_fecha_espanol(valor):
    meses_es = {
        'Ene': 'Jan', 'Feb': 'Feb', 'Mar': 'Mar', 'Abr': 'Apr',
        'May': 'May', 'Jun': 'Jun', 'Jul': 'Jul', 'Ago': 'Aug',
        'Set': 'Sep', 'Sep': 'Sep', 'Oct': 'Oct', 'Nov': 'Nov', 'Dic': 'Dec'
    }
    
    try:
       
        dia = valor[:2]
        mes_es = valor[2:5].capitalize()
        anio = valor[5:]

       
        mes_en = meses_es.get(mes_es)

        if mes_en is None:
            return pd.NaT 

     
        fecha_texto = f"{dia}{mes_en}{anio}"

       
        return pd.to_datetime(fecha_texto, format='%d%b%y')
    
    except Exception:
        return pd.NaT

In [11]:
tabla_trimestral_indicadores['Fecha'] = convertir_trimestre_a_fecha(tabla_trimestral_indicadores['Fecha'])

In [12]:
tabla_trimestral_indicadores

,Fecha,Producto bruto interno por tipo de gasto (millones S/) - Demanda Interna - Consumo Privado,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Consumo Privado,Producto bruto interno por tipo de gasto (millones S/) - Demanda Interna - Inversión Bruta Interna - Inversión Bruta Fija,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Inversión Bruta Interna - Inversión Bruta Fija,Producto bruto interno por tipo de gasto (millones S/) - Demanda Interna - Consumo Público,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Consumo Público,Producto bruto interno por tipo de gasto (millones S/) - Exportaciones,Producto bruto interno por tipo de gasto (millones S/ 2007) - Exportaciones,Producto bruto interno por tipo de gasto (millones S/) - Importaciones,Producto bruto interno por tipo de gasto (millones S/ 2007) - Importaciones
0,1980-01-01,549.0,23549.0,220.0,4943.0,142.0,5084.0,325.0,7368.0,210.0,3647.0
1,1980-04-01,602.0,22797.0,285.0,5599.0,155.0,4612.0,301.0,7878.0,280.0,4136.0
2,1980-07-01,767.0,25670.0,309.0,6444.0,186.0,4863.0,337.0,8322.0,296.0,4738.0
3,1980-10-01,916.0,24810.0,455.0,6622.0,200.0,4584.0,399.0,8894.0,390.0,4756.0
4,1981-01-01,1101.0,24239.0,452.0,6689.0,256.0,6646.0,384.0,7886.0,421.0,5367.0
...,...,...,...,...,...,...,...,...,...,...,...
176,2024-01-01,162213.0,90625.0,51976.0,29063.0,33258.0,18948.0,68515.0,33859.0,58054.0,34774.0
177,2024-04-01,177005.0,97029.0,57447.0,32943.0,34507.0,18929.0,72459.0,35364.0,59619.0,36264.0
178,2024-07-01,172676.0,93214.0,63552.0,35022.0,36170.0,19769.0,84744.0,35912.0,65632.0,39169.0
179,2024-10-01,171517.0,92166.0,71619.0,39859.0,42903.0,23785.0,86764.0,39130.0,69067.0,40127.0
180,2025-01-01,170927.0,91701.0,56713.0,30947.0,35963.0,19550.0,83269.0,35652.0,65976.0,37291.0

In [13]:
tabla_trimestral_indicadores.to_csv('G:/Mi unidad/VSC/indicadores_economicos/data/tabla_trimestral_indicadores.csv', index=False)

In [14]:
inflacion_mensual = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN38705PM/html', header=0)[1]
inflancion_sin_alimentos = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN38707PM/html', header=0)[1]
inflacion_alimentos_energia = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN39521PM/html', header=0)[1]
inflacion_12_meses = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN01272PM/html', header=0)[1]

In [15]:
inflacion_alimentos_energia['Fecha'] = inflacion_alimentos_energia['Fecha'].apply(convertir_mes_fecha)
inflacion_mensual['Fecha'] = inflacion_mensual['Fecha'].apply(convertir_mes_fecha)
inflancion_sin_alimentos['Fecha'] = inflancion_sin_alimentos['Fecha'].apply(convertir_mes_fecha)
inflacion_12_meses['Fecha'] = inflacion_12_meses['Fecha'].apply(convertir_mes_fecha)

In [16]:
merge1 = pd.merge(inflacion_alimentos_energia, inflacion_mensual, on='Fecha',how = 'inner')
merge2 = pd.merge(merge1, inflancion_sin_alimentos, on='Fecha', how='inner')
tabla_inflacion = pd.merge(merge2, inflacion_12_meses, on='Fecha', how='inner')

In [25]:
inflacion_mensual

,Fecha,Índice de precios Lima Metropolitana (índice Dic.2021 = 100) - Índice de Precios al Consumidor (IPC)
0,1991-01-01,7.39
1,1991-02-01,8.09
2,1991-03-01,8.71
3,1991-04-01,9.22
4,1991-05-01,9.93
...,...,...
408,2025-01-01,114.07
409,2025-02-01,114.28
410,2025-03-01,115.21
411,2025-04-01,115.57
412,2025-05-01,115.51

In [24]:
inflacion_12_meses

         Fecha  Índice de precios Lima Metropolitana (var% acumulada) - IPC
0   1950-01-01                                               1.42
1   1950-02-01                                               0.18
2   1950-03-01                                               0.31
3   1950-04-01                                               0.00
4   1950-05-01                                               1.36
..         ...                                                ...
900 2025-01-01                                              -0.09
901 2025-02-01                                               0.09
902 2025-03-01                                               0.91
903 2025-04-01                                               1.23
904 2025-05-01                                               1.17

[905 rows x 2 columns]

In [17]:
# tabla_inflacion.to_csv('G:/Mi unidad/VSC/indicadores_economicos/data/tabla_inflacion.csv', index=False)

In [18]:

tipo_cambio_compra = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/diarias/resultados/PD04637PD/html', header=0)[1]
tipo_cambio_venta = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/diarias/resultados/PD04638PD/html', header=0)[1]
euro_compra = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/diarias/resultados/PD04647PD/html', header=0)[1]
euro_venta = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/diarias/resultados/PD04648PD/html', header=0)[1]

TC = pd.merge(tipo_cambio_compra, tipo_cambio_venta, on='Fecha', how='inner')
TC2 = pd.merge(TC, euro_compra, on='Fecha', how='inner')
TC_final = pd.merge(TC2, euro_venta, on='Fecha', how='inner')

TC_final.replace({'n.d.':0}, inplace=True)

for i in TC_final.iloc[:,1:].columns:
    TC_final[i] = TC_final[i].astype('float')

TC_final['Fecha'] = TC_final['Fecha'].apply(convertir_fecha_espanol)
TC_final['Fecha']

0      2002-02-01
1      2002-02-04
2      2002-02-05
3      2002-02-06
4      2002-02-07
          ...
6103   2025-06-25
6104   2025-06-26
6105   2025-06-27
6106   2025-06-30
6107   2025-07-01
Name: Fecha, Length: 6108, dtype: datetime64[ns]

In [23]:
TC_final.to_csv('G:/Mi unidad/VSC/indicadores_economicos/data/tipo_cambio_final.csv', index=False)

# Indicadores sociales

In [19]:
empleo_informal = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN38071GM/html', header=0)[1]

In [20]:
# Desempleo

desempleo = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN38063GM/html', header=0)[1]   
desempleo_mujer = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN38064GM/html', header=0)[1] 
desempleo_hombre = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN38065GM/html', header=0)[1]
desempleo_14_24 = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN38066GM/html', header=0)[1]
desempleo_25_44 = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN38067GM/html', header=0)[1]
desempleo_45_64 = pd.read_html('https://estadisticas.bcrp.gob.pe/estadisticas/series/mensuales/resultados/PN38068GM/html', header=0)[1]

In [21]:
merge1 = pd.merge(desempleo, desempleo_mujer, on='Fecha', how='inner')
merge2 = pd.merge(merge1, desempleo_hombre, on='Fecha', how='inner')
merge3 = pd.merge(merge2, desempleo_14_24, on='Fecha', how='inner')
merge4 = pd.merge(merge3, desempleo_25_44, on='Fecha', how='inner')
merge5 = pd.merge(merge4, desempleo_45_64, on='Fecha', how='inner')

desempleo_final = merge5.rename(columns={
    'Desempleo': 'Desempleo Total',
    'Desempleo Mujer': 'Desempleo Mujer',
    'Desempleo Hombre': 'Desempleo Hombre',
    'Desempleo 14-24 años': 'Desempleo 14-24 años',
    'Desempleo 25-44 años': 'Desempleo 25-44 años',
    'Desempleo 45-64 años': 'Desempleo 45-64 años'
})

desempleo_final['Fecha'] = desempleo_final['Fecha'].apply(convertir_mes_fecha)

In [22]:
# desempleo_final.to_csv('G:/Mi unidad/VSC/indicadores_economicos/data/desempleo_final.csv', index=False)